@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Regular'), url('./RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Bold'), url('./RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Bold Italic'), url('./RobotoMono-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Italic'), url('./RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Medium'), url('./RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Medium Italic'), url('./RobotoMono-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: local('Roboto Mono Light'), url('./RobotoMono-Thin.ttf') format('truetype');
}
